<!DOCTYPE html>
<html lang="en"
      class=" js no-touch"
      xmlns:th="http://www.thymeleaf.org"
>
<head><title>Banner</title></head>
<body>
<!--BANNER START-->
<div th:fragment="banner" id="banner" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 class="small">Welcome To <span class="bold">Tempo</span></h1>
                <p class="big">Multipurpose HTML5 Bootstrap template.</p>
                <a href="#" class="btn btn-banner">Learn More<i class="fa fa-send"></i></a>
            </div>
        </div>
    </div>
</div>
<!--BANNER END-->
</body>
</html>
