<!DOCTYPE html>
<html lang="en"
      class=" js no-touch"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Liste des contacts</title>
    <link rel="stylesheet" href="css/addressCard">
</head>
<body>
<div th:fragment="contactCard">
    <div class="container-fluid">
        <div class="row come-in">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" th:each=contacts:${contact}">
                <div class="panel panel-primary">
                    <div class="panel-heading" th:text="${contact.user.username}"></div>
                    <div class="panel-body">
                        <p th:text="${contact.phoneNumber}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>