<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Modify Contact</title>
</head>
<body>
  <div>
    <form action="" method="POST">
      First name: <input type="text" name="first_name">
      Last name: <input type="text" name="last_name">
      Birth Date: <input type="text" name="birthDate">
      Gender: <input type="text" name="gender">
      Phone Number: <input type="text" name="phone_number">
    </form>
  </div>
</body>
</html>